@import "reset";
@import "variables";

body {
  font-family: $font-family;
  background-color: $background;
}

app-header {
  @import "./components/header";
}
app-nav {
  @import "./components/nav";
}
app-footer {
  @import "./components/footer";
}

section {
  &.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }
}
